@tailwind base;
@tailwind components;
@tailwind utilities;

.white {
  --background: 225, 225, 225, 255;
  --foreground: 0, 0, 0, 255;
  --border: 0, 0, 0, 255;
  --background-secondary: 51, 51, 51;
}

.dark {
  --background: 14, 14, 14, 255;
  --foreground: 153, 153, 153, 255;
  --border: 88, 88, 88, 255;
  --background-secondary: 51, 51, 51;
}
